#advanced-search-form{:style =>"display:none;"}
  = form_for Search.new do |f|
    .search-field
      = "По текстам цитат"
      = f.text_field :quote_texts
    .search-field
      = "По авторам"
      = f.text_field :authors
    .search-field
      = "По произведениям"
      = f.text_field :sources
    .search-field
      = "По тегам"
      = f.text_field :tags
    .clearfix
    = f.submit "Найти", {:id=>"search", :class => "red-dressed"}
.clearfix