#quote-tabs
  %ul
    %li= link_to "Все цитаты", "#"
    %li= link_to "Худ. книги", "#"
    %li= link_to "Нехуд. книги", "#"
    %li= link_to "Фильмы и сериалы", "#"

- @quotes.each do |quote|
  .item
    .quote-text.column
      = quote.text
    .actions.column
      = link_to "Сохранить себе", "#"
      = link_to "Поделиться", "#"
      = link_to "Пожаловаться", "#"
    .signature
      - quote.tags.each do |tag|
        = link_to tag.keyword, tag
  .clearfix      
  %br
  %br
  %br
