#quote-tabs
  %ul
    %li= link_to "Все цитаты", "?category_id=1"
    %li= link_to "Худ. книги", "?category_id=2"
    %li= link_to "Нехуд. книги", "?category_id=3"
    %li= link_to "Фильмы и сериалы", "?category_id=4"
.clearfix

#search-tab
  =link_to "Расширенный поиск >>", "#", {:id => "advanced-search"}
  =render "advanced_search"


- @quotes.each do |quote|
  .item
    .quote-text.column
      = quote.text
    .actions.column
      = link_to "Сохранить себе", "#"
      = link_to "Поделиться", "#"
      = link_to "Пожаловаться", "#"
    .signature
      - quote.tags.each do |tag|
        = link_to tag.keyword, tag
  .clearfix      
  %br
  %br
  %br
