#main-menu
  #top-nav
    .main-item
      #logo
        %span.bold= "Quote"
        %span="mate"
    .search
      = form_tag quotes_path, :method => 'get' do
        = "Искать"
        = text_field_tag :search, params[:search], :size=> 100
        = submit_tag "Найти", :name => nil
#bottom-nav
  .clearfix
  .item=link_to_unless_current "Цитаты", quotes_path
  .item=link_to_unless_current "Авторы", "#"
  .item=link_to_unless_current "Произведения", sources_path
  .item=link_to_unless_current "Теги", tags_path
  .clearfix

  =link_to "Добавить цитату", new_quote_path, {:id=>"add-quote", :class=> "red-dressed"}
